* {
    margin: 0;
    padding: 0;
}

section {
    padding: 35px;
}


/* NAVBAR */

header {
background-color: rgb(255, 255, 255);
}

.navbar-collapse {
    justify-content: center;
}
.navbar-nav {
    align-items: center;
}

.nav-link {
    font-family: Verdana;
    font-size: 20px;
    color: peru;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: peru;
}

.navbar-toggler{
    border-color: black;
}

/*  TITULO */

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    color: black;
    font-family: "Bebas Neue";
    text-align: center;
    position: relative;
}

/*  QUINES SOMOS? */

.col {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.post {
    width: 600px;
    height: 600px;
}

.texto-p p {
    font-size: 22px;
    color: grey;
}


/* images ayuda / texto */

.texto-pp {
    font-size: 20px;
    color: grey;
}


.publicidad {
    width: 600px;
    height: 400px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(./img/fondo.png);
    background-size: cover;
    background-position: center;
}

.publicidad2 {
    width: 600px;
    height: 400px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(./img/fondo2.png);
    background-size: cover;
    background-position: center;
}

.texto {
    display: block;
    position: relative;
    color: #ffffff;
    font-size: medium;
    text-align: center;
}

/* que podemos ofrecerte iconos y texto */

.iconos {
    width: 90px;
    margin: 5px;
}

.orden {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ofrecemos-texto {
    font-family:"Verdana";
    font-size: 16px;
    color: gray;
    margin: 5px;
}

/* EMPRESAS CON LAS QUE TRABAJAMOS */

.empresas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.empresas img {
    width: 200px;
    height: 200px;
}


/* footer logo y redes */

#footer {
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: space-around;
}

.col-f {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 150px;
}

.iconos-redes {
    font-size: 30px;
}

.col-f h4 {
    font-family: Verdana;
    font-size: 40px;
    color: peru;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.col-f p, .col-f a {
    color: peru;
    font-family: Verdana;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    max-width: 400px;
    text-decoration: none;
}

.redes {
    padding: 30px;
}

/* MEDIA QRIES */
