* {
    margin: 0;
    padding: 0;
}

section {
    padding: 35px;
}


/* NAVBAR */

header {
    background-color: rgb(255, 255, 255);
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    font-family: Verdana;
    font-size: 20px;
    color: peru;
    text-decoration: none;
}

/*  TITULO */

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    color: black;
    font-family: "Bebas Neue";
    text-align: center;
    position: relative;
    padding: 10px;
}

/*  QUINES SOMOS? */

.col {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.post {
    width: 600px;
    height: 600px;
}

.texto-p p {
    font-size: 22px;
    color: grey;
}


/* images ayuda / texto */

.texto-pp {
    font-size: 20px;
    color: grey;
}


.publicidad {
    width: 600px;
    height: 400px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(./img/fondo.png);
    background-size: cover;
    background-position: center;
}

.publicidad2 {
    width: 600px;
    height: 400px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(./img/fondo2.png);
    background-size: cover;
    background-position: center;
}

.texto {
    display: block;
    position: relative;
    color: #ffffff;
    font-size: medium;
    text-align: center;
}

/* que podemos ofrecerte iconos y texto */

.iconos {
    width: 90px;
    margin: 5px;
}

.orden {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ofrecemos-texto {
    font-family: "Verdana";
    font-size: 16px;
    color: gray;
    margin: 5px;
}

/* FORM NUEVO */

.formulario {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.group {
    position: relative;
}

.form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
}

.form .group input,
.form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
}

.form .group input:placeholder-shown+label,
.form .group textarea:placeholder-shown+label {
    top: 10px;
    background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
    border-color: #3366cc;
}

.form .group input:focus+label,
.form .group textarea:focus+label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #00ade2;
    font-weight: 600;
    font-size: 14px;
}

.form .group textarea {
    resize: none;
    height: 100px;
}

.form button {
    background-color: #00ade2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: #004aad;
}



/* trabajos realizados */

.webs {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;

    img {
        width: 100%;
        height: auto;
    }
}

.logo-avatar {
    width: 100%;
    height: auto;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

/* footer logo y redes */

#footer {
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: space-around;
}

.col-f {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 150px;
}

.iconos-redes {
    font-size: 30px;
}

.col-f h4 {
    font-family: Verdana;
    font-size: 40px;
    color: rgba(255, 255, 255, .55);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.col-f p,
.col-f a {
    color: rgba(255, 255, 255, .55);
    font-family: Verdana;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    max-width: 400px;
    text-decoration: none;
}

.redes {
    padding: 30px;
}

/* MEDIA QRIES */

@media (max-width: 1000px) {
    .post {
        width: 80vw;
        height: 80vw;
    }

    .webs {
        padding: 20px;
    }
}